asgiref==3.5.2
astroid==2.12.10
contourpy==1.0.5
coverage==6.5.0
cycler==0.11.0
dill==0.3.5.1
distlib==0.3.5
Django==4.1.2
django-admin-action-buttons==0.1.9
django-admin-list-filter-dropdown==1.0.3
django-rest-framework==0.1.0
django-utils==0.0.2
django-utils-six==2.0
djangorestframework==3.14.0
filelock==3.7.1
fonttools==4.37.3
isort==5.10.1
kiwisolver==1.4.4
lazy-object-proxy==1.7.1
matplotlib==3.6.0
mccabe==0.7.0
networkx==2.8.6
numpy==1.23.3
packaging==21.3
Pillow==9.2.0
platformdirs==2.5.2
pylint==2.15.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
six==1.16.0
sqlparse==0.4.3
tomli==2.0.1
tomlkit==0.11.5
typing_extensions==4.3.0
virtualenv==20.16.3
wrapt==1.14.1
