asgiref==3.5.2
dal-admin-filters==1.1.0
Django==4.1
django-admin-action-buttons==0.1.9
django-admin-list-filter-dropdown==1.0.3
django-autocomplete-light==3.9.4
django-six==1.0.4
django-utils-six==2.0
six==1.16.0
sqlparse==0.4.2
