{% extends "database/base.html" %}

{% block title %}
	Password change done
{% endblock %}

{% block style %}

	@media only screen and (max-device-height: 900px) {
		.form_container {
			margin-top: 120px !important;
			margin-bottom: 130px !important;
		}
	}

	@media only screen and (min-device-height: 1200px) {
		.form_container {
			margin-top: 200px !important;
			margin-bottom: 220px !important;
		}
	}

{% endblock %}

{% block main %}
    <div class="container form_container d-flex justify-content-center">
		<div class="user_card card gradient-border">
			<div class="row">
				<div class="d-flex flex-column">
					<p class="m-auto">
						Your password has been updated.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="d-flex flex-column margin-auto">
					<a class="m-auto" href="{% url 'visitor' %}">
						<p class="m-auto">
							Go to profile page
						</p>
					</a>
				</div>
			</div>
		</div>
    </div>
{% endblock %}