{% extends "database/base.html" %}

{% block title %}
	Password reset complete
{% endblock %}

{% block style %}

    @media only screen and (max-device-height: 900px) {
        .form_container {
            margin-top: 120px !important;
            margin-bottom: 130px !important;
        }
    }

    @media only screen and (min-device-height: 1200px) {
        .form_container {
            margin-top: 200px !important;
            margin-bottom: 220px !important;
        }
    }

{% endblock %}

{% block main %}
    <div class="container form_container d-flex justify-content-center">
        <div class="user_card card gradient-border">
            <div class="row">
                <div class="d-flex flex-column">
                    <p class="m-auto">
                        Your password has been reset. You may go ahead and <a href="{% url 'login' %}">log in</a> now.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}