{% extends "database/base.html" %}

{% block title %}
	Password reset
{% endblock %}

{% block style %}

	@media only screen and (max-device-height: 900px) {
		.form_container {
			margin-top: 120px !important;
			margin-bottom: 130px !important;
		}
	}

	@media only screen and (min-device-height: 1200px) {
		.form_container {
			margin-top: 200px !important;
			margin-bottom: 220px !important;
		}
	}

	#messages{
		color: rgb(227, 44, 44);
		padding: 10px;
		margin-top: 10px;
		text-align: center;
	}
{% endblock %}

{% block main %}
	<div class="container form_container d-flex justify-content-center">
		<div class="user_card card gradient-border">
			<div id="login-title">
				<h2>
					Enter New Password
				</h2>
			</div>

				<form id="id_password_change_form" method="POST" class="form-signin">
					{% csrf_token %}
					<div class="form-row">
						<input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
					</div>
					<br>
					<div class="form-row">
						<input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
					</div>
					<br>
					<div class="form-row">
						<button id="id_submit_btn" class="btn btn-primary btn-block" type="submit">
							Update
						</button>
						<div class="margin-auto" id="cancel-btn">
							<a href="{% url 'login' %}" class="ml-2">
								Cancel
							</a>
						</div>
					</div>
				</form>

				{% for error in form.new_password1.errors %}
					<p id="messages">
						{{ error }}
					</p>
				{% endfor %}
				{% for error in form.new_password2.errors %}
					<p id="messages">
						{{ error }}
					</p>
				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}
