{% extends "database/base.html" %}

{% block title %}
	Password change done
{% endblock %}

{% block style %}
	.form_container {
		margin-top: 80px;
		margin-bottom: 150px;
	}
{% endblock %}

{% block main %}
    <div class="container form_container">
        <div class="row">
            <div class="d-flex flex-column">
                <p class="m-auto">
					Your password has been Updated.
				</p>
            </div>
        </div>

		<div class="row">
			<div class="d-flex flex-column">
				<a class="m-auto" href="{% url 'visitor' %}">
					<p class="m-auto">
						Go to profile page
					</p>
				</a>
			</div>
		</div>
    </div>
{% endblock %}