{% autoescape off %}
<h3>
    Hi {{ user }},
</h3>
<br>
<p>
    You're receiving this email because you requested a password reset for your user account at {{ domain }}.
</p>
<p>
    To initiate the password reset, click the link below:
</p>
<p>
    <b>
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </b>
</p>
<p>
    If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.
</p>
<p>
    If you did not make this request, you can simply ignore this email.
</p>
<p>
    Your email is {{ to_email }}.
</p>
<p>
    Sincerely,
<br>
    Asavi Database Team
</p>
{% endautoescape %}