{% extends "database/base.html" %}

{% block title %}
	Edit Details
{% endblock %}

{% block main %}
	<div class="d-flex justify-content-center form_container">
		<div class="user_card card gradient-border small_card">
			<div class="d-flex justify-content-center">
				<h2 id="title-small-btm">
					Change Password
				</h2>
			</div>
			<div class="container">
				<form id="id_password_change_form" method="POST" class="form-signin">
					{% csrf_token %}
					
					<div class="form-row password-row">
						<input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
					</div>

					<div class="form-row password-row">
						<input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
					</div>

					<div class="form-row password-row">
						<input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
					</div>

					<!--Display form errors -->
					{% for field in form %}
						{% for error in field.errors %}
							<p style="color: red">
								{{ error }}
							</p>
						{% endfor %}
					{% endfor %}

					<div class="submit-row">
						<button id="id_submit_btn" class="btn btn-primary btn-block" type="submit">
							Update
						</button>
						<div class="mt-2">
							<div class="form-row justify-content-center">
								<a href="{% url 'visitor' %}">
									Cancel
								</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
