/* VARIABLE DEFINITIONS */
:root {
    --primary: var(--cyan);
    --secondary: var(--dark-cyan);
    --accent: var(--yellow);
    --primary-fg: #fff;
  
    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: var(--cool-grey);
    --body-loud-color: #000;
  
    --header-color: #ffc;
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--primary-fg);
  
    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);
  
    --link-fg: var(--dark-cyan);
    --link-hover-color: var(--light-orange);
    --link-selected-fg: var(--dark-cyan);
  
    --hairline-color: #e8e8e8;
    --border-color: #ccc;
  
    --error-fg: #ba2121;
  
    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;
  
    --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
    --selected-bg: #e4e4e4; /* E.g. selected table cells */
    --selected-row: #cde7ee; /* A bit lighter than --cyan */
  
    --button-fg: #fff;
    --button-bg: var(--brown);
    --button-hover-bg: var(--light-orange);
    --default-button-bg: var(--brown);
    --default-button-hover-bg: var(--light-orange);
    --close-button-bg: var(--brown); /* Previously #bbb, contrast 1.92 */
    --close-button-hover-bg: var(--light-orange);
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
  
    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
  }

.admin caption {
    caption-side: top;
}

nav ul > li {
    list-style-type: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.md-red {
    color: #dc3545;
}

.md-green {
    color: #198754;
}

.md-grey {
    color: #6c757d;
}

a.deletelink {
    box-sizing: content-box;
}