<body class="d-flex flex-column min-vh-100">
	<!-- Footer -->
	<footer class="text-center text-lg-start text-muted mt-auto">
		<!-- Section: Contact -->
		<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
			
			<!-- Not sure where to include contact details yet? -->
			{% comment %} <div class="container">
				<div class="row">
					<div class="col-sm">
						<i class="fab fa-facebook-f"></i>
						<span>www.facebook.com</span>
					</div>
					<div class="col-sm">
						<i class="fas fa-envelope"></i>
						<span>test@test.com</span>
					</div>
					<div class="col-sm">
						<i class="fas fa-phone"></i>
						<span>123456789</span>
					</div>
				</div>
			</div>  {% endcomment %}

		</section>
		<!-- Section: Contact -->

		<!-- Section: Links  -->
		<section class="">
			<div class="container text-center text-md-start mt-5">
				<!-- Grid row -->
				<div class="row mt-3">
					<!-- Grid column -->
					<div class="col-md-3 col-lg-4 col-xl-7 mx-auto mb-4">
						<!-- Content -->
						<h6 class="text-uppercase fw-bold mb-4">
							CONTRIBUTORS
						</h6>
						<p>The University of Western Australia School of Population and Global Health<br>Ingrid Stacey, Judith Katzenellenbogen, Mohammed Junaid, Samantha Stiles</p>
						<p>The University of Western Australia Professional Computing Team 3<br>
							<a href="https://github.com/B-rey77" class="text-reset" target="_blank" rel="noopener noreferrer">Brendan Reynolds</a>, 
							<a href="https://github.com/cathy-ngo" class="text-reset" target="_blank" rel="noopener noreferrer">Cathy Ngo</a>, 
							<a href="https://github.com/frekky" class="text-reset" target="_blank" rel="noopener noreferrer">Felix Von Perger</a>, 
							<a href="https://github.com/lh1407" class="text-reset" target="_blank" rel="noopener noreferrer">Luka Harfouch</a>, 
							<a href="https://github.com/SoloUWA" class="text-reset" target="_blank" rel="noopener noreferrer">Solo Mmokele</a>
						</p>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">
							Resources
						</h6>
						<p>
							<a href="https://www.asavi.org.au/" class="text-reset" target="_blank" rel="noopener noreferrer">
								The Australian Strep A Vaccine Initiatve (ASAVI)
							</a>
						</p>
						<p>
							<a href="https://www.telethonkids.org.au/" class="text-reset" target="_blank" rel="noopener noreferrer">
								Telethon Kids Institute
							</a>
						</p>
					</div>
					<!-- Grid column -->


				</div>
				<!-- Grid row -->
			</div>
		</section>
		<!-- Section: Links  -->

		<!-- Copyright -->
		<div class="text-center p-4" id="footer-btm">
			© 2022 Copyright
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->
</body>