{% extends "database/base.html" %}

{% block title %} 
CITS3200 Home 
{% endblock %}

{% block style %}
	.form_container {
		margin-top: 80px;
		margin-bottom: 150px;
	}
{% endblock %}

{% block main %}

	<div class="container form_container">
		<div class="home-left">
			<h1>Strep A Online Database</h1>
			<h3>Strep A is a bacteria that causes throat and skin infections, usually in kids aged five to 15.</h3>
			<a class="m-auto" href="{% url 'login' %}">
				<button type="button" class="btn btn-primary">
					Login here
				</button>
			</a>
		</div>
		<div class="home-right">
			<img src="static/img/v_asavi.png">
		</div>
	</div>

  	{% block signup %}{% endblock %}

{% endblock %}