{% extends "database/base.html" %}

{% block title %}
	Login
{% endblock %}

{% block style %}
	.form_container {
		margin-top: 80px;
		margin-bottom: 150px;
	}

	.user_card {
		width: 350px;
		margin-top: auto;
		margin-bottom: auto;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;
	}

	.login_btn {
		width: 100%;
		background: #33ccff !important;
		color: white !important;
	}
	.login_btn:focus {
		box-shadow: none !important;
		outline: 0px !important;
	}

	.login_container {
		padding: 0 2rem;
	}

	.input-group-text {
		background: #f7ba5b !important;
		color: black !important;
		border: 0 !important;
		border-radius: 0.25rem 0 0 0.25rem !important;
	}
	
	#messages{
		color: rgb(227, 44, 44);
		padding: 10px;
		margin-top: 10px;
		text-align: center;
	}
{% endblock %}
		
{% block main %}
	<div class="container form_container">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h5 id="form-title">
						LOGIN
					</h5>
				</div>
				<div class="container">
					<form method="POST" action="">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" placeholder="Username..." class="form-control">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="password" placeholder="Password..." class="form-control" >
						</div>

							<div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn login_btn" type="submit" value="Login">
				   			</div>
					</form>

				</div>

				{% for msg in messages %}
					<p id="messages">
						{{msg}}
					</p>
				{% endfor%}

				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						<a href="{% url 'password_reset' %}" class="ml-2">
							Reset password
						</a>
					</div>
				</div>

				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? 
						<a href="{% url 'signup' %}" class="ml-2">
							Sign Up
						</a>
					</div>			
				</div>
			</div>
		</div>
	</div>
{% endblock %}