<table>
    <tbody>
        {% for flag in row.get_flags %}
            <tr>
                <th>{{ flag.field.verbose_name }}</th>
                <td>{% if flag.value == True %}
                    <span class="material-icons md-green">check_circle_outline</span>
                    {% elif flag.value == False %}
                    <span class="material-icons md-red">highlight_off</span>
                    {% else %}
                    <span class="material-icons md-grey">help_outline</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>