{% extends "database/base.html" %}

{% block title %}
	Signup
{% endblock %}

{% block style %}

    @media only screen and (max-device-height: 900px) {
        .form_container {
            margin-top: 20px !important;
            margin-bottom: 20px !important;
        }
    }
	
{% endblock %}
		
{% block main %}
	<div class="form_container">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card card gradient-border">
				<div class="d-flex justify-content-center">
					<h2>
						Sign Up
					</h2>
				</div>
				<div class="container">
					<form method="POST" action="" id="form">
						{% csrf_token %}
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="inputEmail">
									Email
								</label>
								<input type="email" name="email" class="form-control" id="inputEmail" placeholder="Enter Email">
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="inputFirstName">
									First Name
								</label>
								<input type="first_name" name="first_name" class="form-control" id="inputFirstName" placeholder="Enter First Name">
							</div>
							<div class="form-group col-md-6">
								<label for="inputLastName">
									Last Name
								</label>
								<input type="last_name" name="last_name" class="form-control" id="inputLastName" placeholder="Enter Last Name">
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-3">
								<label for="inputProfession">
									Profession
								</label>
								<input type="text" name="profession" class="form-control" id="inputProfession" placeholder="Enter Profession">
							</div>
							<div class="form-group col-md-3">
								<label for="inputInstitution">
									Institution
								</label>
								<input type="text" name="institution" class="form-control" id="inputInstitution" placeholder="Enter Institution">
							</div>
							<div class="form-group col-md-6">
								<label for="inputCountry">
									Country
								</label>
								<input type="text" name="country" class="form-control" id="inputCountry" placeholder="Enter Country">
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="inputPassword">
									Password
								</label>
								<input type="password" name="password1" class="form-control" id="inputPassword1" placeholder="Enter Password">
							</div>
							<div class="form-group col-md-6">
								<label for="inputPassword">
									Repeat password
								</label>
								<input type="password" name="password2" class="form-control" id="inputPassword2" placeholder="Repeat Password">
							</div>
						</div>

						{{form.errors}}

						<div class="d-flex justify-content-center mt-3">
							<button class="btn btn-primary full_width" type="submit">
								Register Account
							</button>
						</div>
					</form>
				</div>
				<ul>
					{% for error in form.non_field_errors %}
						<li> {{ error }} </li>
					{% endfor %}
				</ul>
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Already have an account?
						<a href="{% url 'login' %}" class="ml-2">
							Login
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
