{% extends "database/base.html" %}

{% block title %}
	Signup
{% endblock %}

{% block style %}
	.user_card {
		margin-top: auto;
		margin-bottom: auto;
		background: rgba(255, 255, 255);
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;

	}

	.login_btn {
		width: 100%;
		background: #33ccff !important;
		color: white !important;
	}
	
	.login_btn:focus {
		box-shadow: none !important;
		outline: 0px !important;
	}

	.form_container {
		margin-top: 80px;
		margin-bottom: 150px;
	}
{% endblock %}
		
{% block main %}
	<div class="container form_container">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h5 id="form-title">
						REGISTER ACCOUNT
					</h5>
				</div>
				<div class="container">
					<form method="POST" action="" id="form">
						{% csrf_token %}
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="inputUsername">
									Username
								</label>
								<input type="username" name="username" class="form-control" id="inputUsername" placeholder="Username">
							</div>
							<div class="form-group col-md-6">
								<label for="inputEmail">
									Email
								</label>
								<input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="inputFirstName">
									First Name
								</label>
								<input type="first_name" name="first_name" class="form-control" id="inputFirstName" placeholder="First Name">
							</div>
							<div class="form-group col-md-6">
								<label for="inputLastName">
									Last Name
								</label>
								<input type="last_name" name="last_name" class="form-control" id="inputLastName" placeholder="Last Name">
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-3">
								<label for="inputProfession">
									Profession
								</label>
								<input type="text" name="profession" class="form-control" id="inputProfession" placeholder="Profession">
							</div>
							<div class="form-group col-md-3">
								<label for="inputInstitution">
									Institution
								</label>
								<input type="text" name="institution" class="form-control" id="inputInstitution" placeholder="Institution">
							</div>
							<div class="form-group col-md-6">
								<label for="inputCountry">
									Country
								</label>
								<input type="text" name="country" class="form-control" id="inputCountry" placeholder="Country">
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="inputPassword">
									Password
								</label>
								<input type="password" name="password1" class="form-control" id="inputPassword1" placeholder="Password">
							</div>
							<div class="form-group col-md-6">
								<label for="inputPassword">
									Repeat password
								</label>
								<input type="password" name="password2" class="form-control" id="inputPassword2" placeholder="Repeat Password">
							</div>
						</div>

						{{form.errors}}

						<div class="d-flex justify-content-center mt-3">
							<button class="btn login_btn" type="submit">
								Register Account
							</button>
						</div>
					</form>
				</div>
				<ul>
					{% for error in form.non_field_errors %}
						<li> {{ error }} </li>
					{% endfor %}
				</ul>
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Already have an account?
						<a href="{% url 'login' %}" class="ml-2">
							Login
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
