{% extends "database/base.html" %}

{% block title %} 
CITS User Profile 
{% endblock %}

{% block style %}
	.form_container {
		margin-top: 80px;
		margin-bottom: 150px;
	}
{% endblock %}

{% block main %}
	{% if user.is_authenticated %}
		<div class="container py-5 h-100 form_container">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col col-xl-8">
					<div class="card mb-4">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">
										<i class="material-icons gogl-icon">
											badge
										</i>
										Full Name
									</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">
										{{request.user.first_name}} {{request.user.last_name}}
									</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">
										<i class="material-icons gogl-icon">
											mail
										</i>
										Email
									</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">
										{{request.user.email}} 
									</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">
										<i class="material-icons gogl-icon">
											account_circle
										</i>
										Profession
									</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">
										{{request.user.profession}}
									</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">
										<i class="material-icons gogl-icon">
											home_work
										</i>
										Institution
									</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">
										{{request.user.institution}}
									</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">
										<i class="material-icons gogl-icon">
											map
										</i>
										Country
									</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">
										{{request.user.country}} 
									</p>
								</div>
							</div>
							<hr>
							<!-- Edit account details -->
							<div class="row">                            
								<div class="col-sm-3">
									<span class="material-icons gogl-icon">
										edit
									</span>
									<a href="{% url 'edit_profile_page' %}" class="ml-2">
										Edit Details
									</a>
								</div>
							</div>
							<hr>
							<div class="row">  
								<div class="col-sm-9">
									<span class="material-icons gogl-icon">
										lock
									</span>
									<a class="m-auto" href="{% url 'password_change' %}">
										Change Password
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="d-flex flex-column mt-4">
				<a class="m-auto" href="{% url "database_search" %}">
					<h3> 
						Browse Research and Scholarship
					</h3>
				</a>
			</div>
		</div>

	{% else %}

		<p>
			You are not logged in. Please click here to <a href="{% url 'login' %}" class="ml-2">login</a>
		</p>

	{% endif %}

{% endblock %}
