{% extends "database/base.html" %}

{% block title %} 
CITS User Profile 
{% endblock %}

{% block main %}

{% if user.is_authenticated %}

<div class="container dash-jumbo" style="color: black; padding: 50px;">
    <div class="main-body">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <!-- User Name recorded in database -->
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="btn">
                                <h6 class="mb-01">
                                    <span class="material-icons gogl-icon">
                                        verified_user
                                    </span>
                                    User Name
                                </h6>
                            </p>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <span>
                                {{request.user.first_name}} {{request.user.last_name}}
                                {{request.user.id}}
                            </span>
                        </div>
                    </div>
                    <hr>
                    <!-- Email recorded in database -->
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="btn">
                                <h6 class="mb-0">
                                    <span class="material-icons gogl-icon">
                                        mail
                                    </span>
                                    Email
                                </h6>
                            </p>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <span>
                                {{request.user.email}} 
                            </span>
                        </div>
                    </div>
                    <hr>                    
                    <!-- Gender recorded in database -->
                    <div class="row">
                        <div class="col-sm-3">
                        <p class="btn">
                            <h6 class="mb-0"> 
                                <span class="material-icons gogl-icon">
                                    account_circle
                                </span>
                                About me 
                            </h6>
                        </p>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" name="uname" value="I am CITS3200" readonly style="border: none;">
                        </div>
                    </div>
                    <hr>
                    <!-- Edit account details -->
                    <div class="row">                            
                        <div class="d-flex justify-content-center links">
                            <span class="material-icons gogl-icon">
                                edit
                            </span>
                            <a href="{% url 'edit_profile_page' %}" class="ml-2">Edit Details </a>
                        </div>

                        <div class="d-flex flex-column mt-4">
                            <a class="m-auto" href="{% url 'password_change' %}">
                                Change Password
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<p> You are not logged in. Please click here to <a href="{% url 'login' %}" class="ml-2">login</a>

{% endif %}



{% endblock %}
